<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
  <rule id="70a7fde6-5bf1-460f-b885-e56f95a9f844" webrule="4.3.0.2" utc="2016-07-06T08:18:34.0947" type="CodeEffects.Rule.Demo.Bre.Mvc.Models.Order, CodeEffects.Rule.Demo.Bre.Mvc.2013, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
    <name>Order Total Price </name>
    <description>apply discount if total price exceeded certain amount</description>
    <definition>
      <if>
        <clause>
          <condition type="greaterOrEqual">
            <property name="Price" />
            <value type="numeric">4000</value>
          </condition>
        </clause>
        <then>
          <set>
            <property name="Price" />
            <expression>
              <multiply>
                <property name="Price" />
                <value type="numeric">0.75</value>
              </multiply>
            </expression>
          </set>
        </then>
      </if>
    </definition>
    <format>
      <lines />
    </format>
  </rule>
</codeeffects>