<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
	<rule id="7269aea5-6dda-427f-bd4e-64dc63601dbe" webrule="4.1.6.4" utc="2014-08-05T15:29:37.7455" type="CodeEffects.Rule.Demo.Bre.Mvc.Models.Patient, CodeEffects.Rule.Demo.Bre.Mvc.2013, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
		<name>Setters</name>
		<description>Check the Alcohol box and click Test</description>
		<definition>
			<if>
				<clause>
					<condition type="equal">
						<property name="Alcohol" />
						<value type="System.Boolean">true</value>
					</condition>
				</clause>
				<then>
					<set>
						<property name="Allergies" />
						<value type="System.Boolean">true</value>
					</set>
					<set>
						<property name="DOB" />
						<value type="System.Nullable`1[[System.DateTime, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]">2013-11-21T00:00:00.0000</value>
					</set>
					<set>
						<property name="DiastolicPressure" />
						<value type="numeric">123</value>
					</set>
					<set>
						<property name="EducationTypeID" />
						<value type="numeric">2</value>
					</set>
					<set>
						<property name="Email" />
						<value>asdf@blah.com</value>
					</set>
					<set>
						<property name="FirstName" />
						<value>John</value>
					</set>
					<set>
						<property name="Gender" />
						<value type="CodeEffects.Rule.Demo.Bre.Mvc.Models.Gender, CodeEffects.Rule.Demo.Bre.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">1</value>
					</set>
					<set>
						<property name="Headaches" />
						<value type="System.Boolean">true</value>
					</set>
					<set>
						<property name="Home.City" />
						<value>Test</value>
					</set>
					<set>
						<property name="Home.State" />
						<value type="CodeEffects.Rule.Demo.Bre.Mvc.Models.State, CodeEffects.Rule.Demo.Bre.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">3</value>
					</set>
					<set>
						<property name="PhysicianID" />
						<value type="numeric">2</value>
					</set>
					<set>
						<property name="Pulse" />
						<expression>
							<subtract>
								<property name="DiastolicPressure" />
								<value type="numeric">34</value>
							</subtract>
						</expression>
					</set>
					<set>
						<property name="SystolicPressure" />
						<property name="DiastolicPressure" />
					</set>
					<set>
						<property name="Work.State" />
						<value type="CodeEffects.Rule.Demo.Bre.Mvc.Models.State, CodeEffects.Rule.Demo.Bre.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">1</value>
					</set>
				</then>
			</if>
		</definition>
		<format>
			<lines>
				<line index="5" tabs="0" />
				<line index="11" tabs="0" />
				<line index="17" tabs="0" />
				<line index="23" tabs="0" />
				<line index="29" tabs="0" />
				<line index="35" tabs="0" />
				<line index="41" tabs="0" />
				<line index="47" tabs="0" />
				<line index="53" tabs="0" />
				<line index="59" tabs="0" />
				<line index="65" tabs="0" />
				<line index="71" tabs="0" />
				<line index="81" tabs="0" />
				<line index="87" tabs="0" />
			</lines>
		</format>
	</rule>
</codeeffects>