<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
  <rule id="7eddb149-153a-45f8-96d4-d1dbc84f9954" webrule="4.3.0.2" utc="2016-07-06T08:24:55.5051" type="CodeEffects.Rule.Demo.Bre.Mvc.Models.Order, CodeEffects.Rule.Demo.Bre.Mvc.2013, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
    <name>Order Product Group</name>
    <description>calculate price against product group to which given product is assigned</description>
    <definition>
      <if>
        <clause>
          <condition type="equal">
            <property name="ProductGroupId" />
            <value type="numeric">1</value>
          </condition>
        </clause>
        <then>
          <set>
            <property name="Price" />
            <expression>
              <multiply>
                <property name="Price" />
                <value type="numeric">0.8</value>
              </multiply>
            </expression>
          </set>
        </then>
      </if>
    </definition>
    <format>
      <lines />
    </format>
  </rule>
</codeeffects>