<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
  <rule id="e1eb0aa7-a70d-4242-be68-782155b5bf65" webrule="4.3.0.2" utc="2016-07-06T08:23:16.7567" type="CodeEffects.Rule.Demo.Bre.Mvc.Models.Order, CodeEffects.Rule.Demo.Bre.Mvc.2013, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
    <name>Order Qtty+ItemsCount</name>
    <description>calculate price based on mathematical expression/equation against orderitem and </description>
    <definition>
      <if>
        <clause>
          <condition type="notEqual">
            <property name="Price" />
            <value type="numeric">-1</value>
          </condition>
        </clause>
        <then>
          <set>
            <property name="Price" />
            <expression>
              <subtract>
                <multiply>
                  <property name="OrderItemsCount" />
                  <value type="numeric">10</value>
                </multiply>
                <multiply>
                  <property name="Qtty" />
                  <value type="numeric">4</value>
                </multiply>
              </subtract>
            </expression>
          </set>
        </then>
      </if>
    </definition>
    <format>
      <lines />
    </format>
  </rule>
</codeeffects>